*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'PT Sans', sans-serif;
}

header{
  width: 100%;
  height: 100vh; 
  background-size: cover;
  background-image: url(../media/img/war_thunder_12th.jpg);  
}

.nav{
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  transition: all 0.5s ease;
}
.nav.active{
  background-color: #fff;
  padding: 15px;
}
.nav.active .logo,
.nav.active a{
  color: #000;
}
.nav.active a:hover{
  background: #000;
  color: #fff;
}

.logo{
  font-size: 25px;
  color: #fff;
  font-weight: 100;
}
.menu{
  display: flex;
}
.menu li{
  list-style: none;
  margin: 10px;
}
.menu li a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.5s ease;
}
.menu li a:hover{
  padding: 5px 10px;
  background: #fff;
  color: black;
  border-radius: 15px;
}
.scrol{
  height: 100px;
}
/*
.ppp{
  background-image: url(/media/img/fondoContact.jpg);
  width: 100%;
  opacity: 0.5;
}*/
.descripcion{
  border: 2px solid #000;
  border-radius: 5px;
  padding: 50px;
  margin: 40px;
}